# time_deltas

1. 解析
2. 操作
3. 裁剪
4. 变频
5. 属性
6. 时差指数
7. 重采样

In [22]:
import pandas as pd
import numpy as np
from datetime import datetime, timedelta
from pandas.tseries.offsets import Day, Second, Hour, Minute, Milli

## 1 解析

In [2]:
display(
    pd.Timedelta('1 days'),
    pd.Timedelta('1 days 00:00:00'),
    pd.Timedelta('1 days 2 hours'),
    pd.Timedelta(days=1, seconds=1),
)

Timedelta('1 days 00:00:00')

Timedelta('1 days 00:00:00')

Timedelta('1 days 02:00:00')

Timedelta('1 days 00:00:01')

In [3]:
# 转换其他包中 timedelta 对象
display(
    pd.Timedelta(timedelta(days=1, seconds=1)),
    pd.Timedelta(np.timedelta64(1, 'ms')),
)

Timedelta('1 days 00:00:01')

Timedelta('0 days 00:00:00.001000')

In [4]:
# 转换 负数&空 timedelta 对象
display(
    pd.Timedelta('-1us'),
    pd.Timedelta('nan'),
    pd.Timedelta('nat'),
)

Timedelta('-1 days +23:59:59.999999')

NaT

NaT

In [5]:
# DateOffset 对象 DateOffset (Day, Hour, Minute, Second, Milli, Micro, Nano)
from pandas.tseries.offsets import Day, Second, Hour, Minute

display(
    pd.Timedelta(Second(2)),
    pd.Timedelta(Day(2)) + pd.Timedelta(Second(2)) + pd.Timedelta('00:00:00.000123'),
)

Timedelta('0 days 00:00:02')

Timedelta('2 days 00:00:02.000123')

### 1.1 解析为 `Timedelta`

In [6]:
display(
    pd.to_timedelta('1 days 06:05:01.00003'),
    pd.to_timedelta('15.5us'),
    pd.to_timedelta(['1 days 06:05:01.00003', '15.5us', 'nan']),
    pd.to_timedelta(np.arange(5), unit='s'),
    pd.to_timedelta(np.arange(5), unit='d'),
)

Timedelta('1 days 06:05:01.000030')

Timedelta('0 days 00:00:00.000015')

TimedeltaIndex(['1 days 06:05:01.000030', '0 days 00:00:00.000015', NaT], dtype='timedelta64[ns]', freq=None)

TimedeltaIndex(['00:00:00', '00:00:01', '00:00:02', '00:00:03', '00:00:04'], dtype='timedelta64[ns]', freq=None)

TimedeltaIndex(['0 days', '1 days', '2 days', '3 days', '4 days'], dtype='timedelta64[ns]', freq=None)

### 1.2 `Timedelta` 的限制

In [7]:
display(
    pd.Timedelta.min,
    pd.Timedelta.max,
)

Timedelta('-106752 days +00:12:43.145224')

Timedelta('106751 days 23:47:16.854775')

## 2 操作

In [11]:
s = pd.Series(pd.date_range('2012-1-1', periods=3, freq='D'))
td = pd.Series([ pd.Timedelta(days=i) for i in range(3) ])
df = pd.DataFrame(dict(A = s, B = td))
df

           A      B
0 2012-01-01 0 days
1 2012-01-02 1 days
2 2012-01-03 2 days

In [13]:
df['C'] = df['A'] + df['B']
df

           A      B          C
0 2012-01-01 0 days 2012-01-01
1 2012-01-02 1 days 2012-01-03
2 2012-01-03 2 days 2012-01-05

In [14]:
df.dtypes

A     datetime64[ns]
B    timedelta64[ns]
C     datetime64[ns]
dtype: object

In [15]:
s - s.max()

0   -2 days
1   -1 days
2    0 days
dtype: timedelta64[ns]

In [20]:
display(
    s - datetime(2011, 1, 1, 3, 5),
    s + timedelta(minutes=5)
)

0   364 days 20:55:00
1   365 days 20:55:00
2   366 days 20:55:00
dtype: timedelta64[ns]

0   2012-01-01 00:05:00
1   2012-01-02 00:05:00
2   2012-01-03 00:05:00
dtype: datetime64[ns]

In [23]:
display(
    s + Minute(5),
    s + Minute(5) + Milli(5),
)

0   2012-01-01 00:05:00
1   2012-01-02 00:05:00
2   2012-01-03 00:05:00
dtype: datetime64[ns]

0   2012-01-01 00:05:00.005
1   2012-01-02 00:05:00.005
2   2012-01-03 00:05:00.005
dtype: datetime64[ns]

In [25]:
y = s - s[0]
y

0   0 days
1   1 days
2   2 days
dtype: timedelta64[ns]

In [26]:
y = s - s.shift()
y

0      NaT
1   1 days
2   1 days
dtype: timedelta64[ns]

In [27]:
y[1] = np.nan
y

0      NaT
1      NaT
2   1 days
dtype: timedelta64[ns]

- 操作也支持反序操作

In [29]:
s.max() - s

0   2 days
1   1 days
2   0 days
dtype: timedelta64[ns]

In [31]:
datetime(2011, 1, 1, 3, 5) - s

0   -365 days +03:05:00
1   -366 days +03:05:00
2   -367 days +03:05:00
dtype: timedelta64[ns]

In [32]:
timedelta(minutes=5) + s

0   2012-01-01 00:05:00
1   2012-01-02 00:05:00
2   2012-01-03 00:05:00
dtype: datetime64[ns]

- `min`, `max`, `idxmin`, `idxmax`

In [38]:
A = s - pd.Timestamp('20120101') - pd.Timedelta('00:05:05')
B = s - pd.Series(pd.date_range('2012-1-2', periods=3, freq='D'))
df = pd.DataFrame(dict(A=A, B=B))

display(df, df.dtypes)

                  A       B
0 -1 days +23:54:55 -1 days
1   0 days 23:54:55 -1 days
2   1 days 23:54:55 -1 days

A    timedelta64[ns]
B    timedelta64[ns]
dtype: object

In [36]:
display(
    df.min(),
    df.min(axis=1),
    df.idxmin(),
    df.idxmax(),
)

A   -1 days +23:54:55
B   -1 days +00:00:00
dtype: timedelta64[ns]

0   -1 days
1   -1 days
2   -1 days
dtype: timedelta64[ns]

A    0
B    0
dtype: int64

A    2
B    0
dtype: int64

In [41]:
display(
    df.min().max(),
    df.min(axis=1).min(),
    df.min().idxmax(),
    df.min(axis=1).idxmin(),
)

Timedelta('-1 days +23:54:55')

Timedelta('-1 days +00:00:00')

'A'

0

- `Timedelta` 填充NA:
    * 整数将被转换为秒。
    * 建议传入时间增量。

In [42]:
display(
    y,
    y.fillna(0),
    y.fillna(10),
    y.fillna(pd.Timedelta('-1 days, 00:00:05')),
)

0      NaT
1      NaT
2   1 days
dtype: timedelta64[ns]

0   0 days
1   0 days
2   1 days
dtype: timedelta64[ns]

0   0 days 00:00:10
1   0 days 00:00:10
2   1 days 00:00:00
dtype: timedelta64[ns]

0   -1 days +00:00:05
1   -1 days +00:00:05
2     1 days 00:00:00
dtype: timedelta64[ns]

- `*`, `abs` 等运算操作 `Timedelta`

In [44]:
td1 = pd.Timedelta('-1 days 2 hours 3 seconds')

display(
    td1,
    -1 * td1,
    - td1,
    abs(td1),
)

Timedelta('-2 days +21:59:57')

Timedelta('1 days 02:00:03')

Timedelta('1 days 02:00:03')

Timedelta('1 days 02:00:03')

## 3 归约运算

In [45]:
y2 = pd.Series(pd.to_timedelta(['-1 days +00:00:05', 'nat', '-1 days +00:00:05', '1 days']))
y2

0   -1 days +00:00:05
1                 NaT
2   -1 days +00:00:05
3     1 days 00:00:00
dtype: timedelta64[ns]

In [46]:
display(
    y2.mean(),
    y2.median(),
    y2.quantile(.1),
    y2.sum(),
)

Timedelta('-1 days +16:00:03.333333')

Timedelta('-1 days +00:00:05')

Timedelta('-1 days +00:00:05')

Timedelta('-1 days +00:00:10')

## 4 变频

- `Timedelta Series`, `TimedeltaIndex`, `Timedelta`可以被转换为其他的频率， 或者其他的类型的`Timedelta`类型；
- `numpy` 标量除法是真除法；加法则相当于地板除法；

In [47]:
td = pd.Series(pd.date_range('20130101', periods=4)) - pd.Series(pd.date_range('20121201', periods=4))
td

0   31 days
1   31 days
2   31 days
3   31 days
dtype: timedelta64[ns]

In [49]:
td[2] += timedelta(minutes=5, seconds=3)
td[3] = np.nan

td

0   31 days 00:00:00
1   31 days 00:00:00
2   31 days 00:05:03
3                NaT
dtype: timedelta64[ns]

In [57]:
display(
    td / np.timedelta64(1, 'D'),   # 真除法
    td.astype('timedelta64[D]'),   # 地板除
    td / np.timedelta64(1, 's'),
    td.astype('timedelta64[s]'),
    td / np.timedelta64(1, 'M'),
    td.astype('timedelta64[M]'),
)

0    31.000000
1    31.000000
2    31.003507
3          NaN
dtype: float64

0    31.0
1    31.0
2    31.0
3     NaN
dtype: float64

0    2678400.0
1    2678400.0
2    2678703.0
3          NaN
dtype: float64

0    2678400.0
1    2678400.0
2    2678703.0
3          NaN
dtype: float64

0    1.018501
1    1.018501
2    1.018617
3         NaN
dtype: float64

0    1.0
1    1.0
2    1.0
3    NaN
dtype: float64

## 5 属性

## 6 时差指数

### 6.1 生成时间序列

### 6.2 使用 `TimedeltaIndex`

### 6.3 操作

### 6.4 转换

## 7 重采样